@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto+Mono:wght@400;600&display=swap");

//font
$main-font: "Roboto Mono", monospace;
$second-font: "Poppins", sans-serif;

// Theme 1
$calculator-background-color-theme1: #3a4764;
$text-color-theme1: #f1f4f4;
$display-color-theme1: #181f32;
$keyboard-background-color-theme1: #252d44;
$number-and-operation-color-theme1: #eae3db;
$number-and-operation-box-shadow-theme1: #b5a69a;
$number-and-operation-font-color-theme1: #444a58;
$del-and-reset-color-theme1: #647299;
$del-and-reset-box-shadow-theme1: #404e75;
$del-reset-and-equal-font-color-theme1: #faffff;
$equal-and-dot-color-theme1: #d13f30;
$equal-box-shadow-theme1: #8f2316;

// Theme 2
$calculator-background-color-theme2: #e6e6e6;
$text-color-theme2: #35352c;
$display-color-theme2: #fafafa;
$keyboard-background-color-theme2: #d1cccc;
$number-and-operation-color-theme2: #e5e4e1;
$number-and-operation-box-shadow-theme2: #a69d91;
$number-and-operation-font-color-theme2: #35352c;
$del-and-reset-color-theme2: #377f86;
$del-and-reset-box-shadow-theme2: #1b5f65;
$del-reset-and-equal-font-color-theme2: #ffffff;
$equal-and-dot-color-theme2: #ca5502;
$equal-box-shadow-theme2: #893901;

// Theme 3
$calculator-background-color-theme3: #19072e;
$text-color-theme3: #ffe53d;
$display-color-theme3: #270c46;
$keyboard-background-color-theme3: #240b41;
$number-and-operation-color-theme3: #4a2871;
$number-and-operation-box-shadow-theme3: #301948;
$number-and-operation-font-color-theme3: #ffe53d;
$del-and-reset-color-theme3: #58077d;
$del-and-reset-box-shadow-theme3: #3b0b51;
$del-and-reset-font-color-theme3: #ffffff;
$equal-and-dot-color-theme3: #00e0d1;
$equal-box-shadow-theme3: #018e85;
$equal-font-color-theme3: #1b2428;
