@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Poppins:wght@400;600&display=swap');

//colors
$body-background-color: #1f1f1f;
$calculator-background-color: #3b4664;

//font
$font: 'poppins';