@import "../../abstract/variables.scss";

.calculator {
    height: 40rem;
    width: 22.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 10px;
}

// themes

.theme1 {
    background-color: $calculator-background-color-theme1;

    header {
        color: $text-color-theme1;

        .Theme__Switch {
            background-color: $calculator-background-color-theme1;

            h2 {
                color: $text-color-theme1;
            }

            .Switch {
                background-color: $display-color-theme1;

                .dot {
                    background-color: $equal-and-dot-color-theme1;
                }
            }
        }
    }

    .display {
        background-color: $display-color-theme1;
        color: $text-color-theme1;
    }

    .keyboard {
        background-color: $keyboard-background-color-theme1;

        .number,
        .operation {
            background-color: $number-and-operation-color-theme1;
            box-shadow: 0 5px 0 $number-and-operation-box-shadow-theme1;
            color: $number-and-operation-font-color-theme1;
        }

        .del {
            background-color: $del-and-reset-color-theme1;
            box-shadow: 0 5px 0 $del-and-reset-box-shadow-theme1;
            color: $del-reset-and-equal-font-color-theme1;
        }

        .reset {
            background-color: $del-and-reset-color-theme1;
            box-shadow: 0 5px 0 $del-and-reset-box-shadow-theme1;
            color: $del-reset-and-equal-font-color-theme1;
        }

        .equal {
            background-color: $equal-and-dot-color-theme1;
            box-shadow: 0 5px 0 $equal-box-shadow-theme1;
            color: $del-reset-and-equal-font-color-theme1;
        }
    }
}

.theme2 {
    background-color: $calculator-background-color-theme2;

    header {
        color: $text-color-theme2;

        .Theme__Switch {
            background-color: $calculator-background-color-theme2;

            h2 {
                color: $text-color-theme2;
            }

            .Switch {
                background-color: $display-color-theme2;

                .dot {
                    background-color: $equal-and-dot-color-theme2;
                }
            }
        }
    }

    .display {
        background-color: $display-color-theme2;
        color: $text-color-theme2;
    }

    .keyboard {
        background-color: $keyboard-background-color-theme2;

        .number,
        .operation {
            background-color: $number-and-operation-color-theme2;
            box-shadow: 0 5px 0 $number-and-operation-box-shadow-theme2;
            color: $number-and-operation-font-color-theme2;
        }

        .del {
            background-color: $del-and-reset-color-theme2;
            box-shadow: 0 5px 0 $del-and-reset-box-shadow-theme2;
            color: $del-reset-and-equal-font-color-theme2;
        }

        .reset {
            background-color: $del-and-reset-color-theme2;
            box-shadow: 0 5px 0 $del-and-reset-box-shadow-theme2;
            color: $del-reset-and-equal-font-color-theme2;
        }

        .equal {
            background-color: $equal-and-dot-color-theme2;
            box-shadow: 0 5px 0 $equal-box-shadow-theme2;
            color: $del-reset-and-equal-font-color-theme2;
        }
    }
}

.theme3 {
    background-color: $calculator-background-color-theme3;

    header {
        color: $text-color-theme3;

        .Theme__Switch {
            background-color: $calculator-background-color-theme3;

            h2 {
                color: $text-color-theme3;
            }

            .Switch {
                background-color: $display-color-theme3;

                .dot {
                    background-color: $equal-and-dot-color-theme3;
                }
            }
        }
    }

    .display {
        background-color: $display-color-theme3;
        color: $text-color-theme3;
    }

    .keyboard {
        background-color: $keyboard-background-color-theme3;

        .number,
        .operation {
            background-color: $number-and-operation-color-theme3;
            box-shadow: 0 5px 0 $number-and-operation-box-shadow-theme3;
            color: $number-and-operation-font-color-theme3;
        }

        .del {
            background-color: $del-and-reset-color-theme3;
            box-shadow: 0 5px 0 $del-and-reset-box-shadow-theme3;
            color: $del-and-reset-font-color-theme3;
        }

        .reset {
            background-color: $del-and-reset-color-theme3;
            box-shadow: 0 5px 0 $del-and-reset-box-shadow-theme3;
            color: $del-and-reset-font-color-theme3;
        }

        .equal {
            background-color: $equal-and-dot-color-theme3;
            box-shadow: 0 5px 0 $equal-box-shadow-theme3;
            color: $equal-font-color-theme3;
        }
    }
}
