@import "./abstract/variables.scss";

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: $main-font;
}

body {
    background-color: #252d41;
    display: flex;
    justify-content: center;

    @media (min-height: 694px) {
        margin: 10vh;
    }
}

::-webkit-scrollbar {
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #636363;
}
