@import "./abstract/variables.scss";

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    @media (min-width: 768px) {
        margin: 10%;
    }
}
