@import "./abstract/variables.scss";

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    background-color: #252d41;
    display: flex;
    justify-content: center;
    margin: 10vh;
}
