@import "../../../abstract/variables.scss";

.calculator__keyboard {
    width: 100%;
    background-color: $keyboard-background-color;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
