@import "../../../abstract/variables.scss";

.keyboard {
    width: 100%;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    button {
        height: 3rem;
        border-radius: 5px;
        font-family: $main-font;

        &:hover {
            cursor: pointer;
        }

        &:active {
            box-shadow: none;
            position: relative;
            top: 5px;
        }
    }

    .number,
    .operation {
        width: 2.875rem;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .del {
        width: 2.875rem;
        font-family: $second-font;
    }

    .reset {
        width: 6.75rem;
        font-family: $second-font;
    }

    .equal {
        width: 6.75rem;
        font-weight: 600;
        font-size: 1.5rem;
        font-weight: 600;
    }
}